@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    width: 355px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 28px -11px black;
}

.top img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 355px;
}

.title h3 {
    color: hsl(223, 47%, 23%);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: 900;
}

.title p {
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.play {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 274px;
    padding: 15px;
    margin-top: 20px;
    height: 65px;
}

.icon img {
    width: 40px;
    align-items: center;
}

.name p span {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.name p {
    font-size: 13px;
    margin-right: 53px;
    color: #8880af;
}

.mudar a {
    color: #413889;
    font-weight: 900;
    font-size: 13px;
    margin-right: 10px;
}

.mudar a:hover {
    color: hsla(245, 83%, 68%, 1);
    text-decoration: none;
    transition: all 0.5s;
}

.botao {
    padding: 10px;
}

.botao button {
    width: 274px;
    display: block;
    margin: 0 auto;
    height: 40px;
    background-color: #3829e0;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 2px 3px 25px -4px #3829e0;
    cursor: pointer;
}

.botao button:hover {
    background-color: hsla(245, 83%, 68%, 1);
    transition: all 0.2s;
}

.foot p {
    text-align: center;
    padding: 25px;
    color: #7280a7;
    font-weight: 700;
}