@media screen and (max-width: 768px){
    main {
        flex-direction: column;
        gap: 15px ;
    }

    .left img {
        width: 380px;
        margin: 0 auto;
    }

    .right {
        margin: 0 auto;
        width: 370px;
    }

    .right h2 {
        text-align: center;
        font-size: 30px;
    }

    .right p {
        font-size: 21px;
        text-align: center;
    }

    .right button {
        margin-top: 27px;
        margin-left: 110px;
    }

    footer {
        display: flex;
        justify-content: center;
        margin-left: 99px;
    }
}