@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 30px;
    text-align: center;
    gap: 20px   ;
}

.header h2 {
    margin-top: 90px;
    font-size: 36px;
    font-weight: 200;
    color: #4D4F62;
}

.header h1 {
    font-size: 36px;
    font-weight: 600;
    color: #4D4F62;
}

.header p {
    width: 540px;
    color: #4d4f6294;
    font-size: 15px;
    font-weight: 400;
    padding: 20px;
    display: block;
    margin: 0 auto;
}

.left {
    box-shadow:  0px 15px 30px -11px rgb(131 166 210 / 50%);
    background-color: #44d3d2;
    margin-left: 50px;
    margin-right: 15px;
    margin-top: 175px;
    border-radius: 10px;
    width: 350px;
    height: 253px;
    margin-bottom: 250px;
}

.card-left {
    background-color: white;
    margin-top: 3px;
    width: 350px;
    height: 253px;
    border-radius: 10px;
}

.card-left h3 {
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #4D4F62;
}

.card-left p {
    color: #4d4f6294;
    margin-top: -20px;
    width: 286px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 25px;
}

.card-left img {
    margin-left: 250px;
    margin-top: 56px;
}

.center {
    display: flex;
    flex-direction: column;
}

.card-center-top-white {
    box-shadow:  0px 15px 30px -11px rgb(131 166 210 / 50%);
    background-color: #ea5454;
    width: 350px;
    height: 253px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

.card-center-top{
    background-color: white;
    width: 350px;
    height: 253px;
    margin-top: 3px;
    border-radius: 10px;
}

.card-center-top h3 {
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #4D4F62;
}

.card-center-top p {
    color: #4d4f6294;
    margin-top: -20px;
    width: 286px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 25px;
}

.card-center-top img {
    margin-left: 250px;
    margin-top: 56px;
}

.card-center-bottom-white {
    box-shadow:  0px 15px 30px -11px rgb(131 166 210 / 50%);
    background-color: #fcae4a;
    width: 350px;
    height: 253px;
    margin-top: 45px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.card-center-bottom{
    background-color: white;
    width: 350px;
    height: 253px;
    margin-top: 3px;
    border-radius: 10px;
}

.card-center-bottom h3 {
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #4D4F62;
}

.card-center-bottom p {
    color: #4d4f6294;
    margin-top: -20px;
    width: 286px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 25px;
}

.card-center-bottom img {
    margin-left: 250px;
    margin-top: 56px;
}

.right {
    box-shadow:  0px 15px 30px -11px rgb(131 166 210 / 50%);
    background-color: #549ef2;
    margin-right: 60px;
    margin-left: 35px;
    margin-top: 175px;
    border-radius: 10px;
    width: 350px;
    height: 253px;
    margin-bottom: 250px;
}

.card-right {
    background-color: white;
    margin-top: 3px;
    width: 350px;
    height: 253px;
    border-radius: 10px;
}

.card-right h3 {
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #4D4F62;
}

.card-right p {
    color: #4d4f6294;
    margin-top: -20px;
    width: 286px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 25px;
}

.card-right img {
    margin-left: 250px;
    margin-top: 56px;
}